.contact-card {
    padding: .5rem .8rem;
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .05rem solid #DEDEDE;
}

.details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.details>div {
    display: grid;
}

.operations {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.contact-picture {
    width: 3rem;
}

.delete>img,
.edit>img {
    width: 1.3rem;
}