.save{
    bottom: 0;
    position: sticky;
    padding: .4rem;
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
}
.save > img{
    width: 2.5rem;
}