header{
    top: 0;
    position: sticky;
    padding: .5rem;
    display: block;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 .3rem gray;
    background-color: white;
}