.contact{
    margin: 0 10rem 1rem;
    padding: .5rem 1rem;
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .05rem dashed gray;
    border-bottom: .05rem dashed gray;
}
.details{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.operations{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.contact-image{
    width: 2rem;
}
.edit > img, .delete > img{
    width: 1.3rem;
}
.edit:hover, .delete > img:hover{
    border-radius: 0rem;
    box-shadow: 0 0 1rem #0000000f;
}

.save > img:hover{
    border-radius: 0rem;
    box-shadow: 0 0 1.5rem #0000000f;
}

.save{
    margin: 0 10rem;
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.save > img{
    width: 2.5rem;
}